<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<button class="btn btn-primary"(click)="onLoadServer(1)">Load Server 1</button>

<button class="btn btn-danger" (click)="onLogin()" style="color:
 blanchedalmond;
 font-family: 'Courier New', Courier, monospace;
border: 1px solid greenyellow;margin: 6px;">Login</button>

<button class=" btn btn-primary" (click)="onLogout()" 
style="color: azure; font-family: 'Lucida Sans', 'Lucida Sans Regular',
 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid gold;margin: 6px;">Logout</button>


